body {
    font-family: 'Carme', sans-serif;
    padding:20px;
}

div {

}

textarea {
    width:300px;
    height:150px;
    font-family: 'Carme', sans-serif;
    border:1px solid #aaa;
}

label {
    width:100%;
}

button {
    font-size:15px;
    padding:10px;
    border:0px;
    background-color:#eee;
}

/* Config ---------------- */
#config {
    display:block;
}

/* StartScreen ---------------- */
#startScreen {
    display:none;
    text-align:center;
    padding-top:150px;
}

#startScreen button {
    margin: 0 auto;
    font-size:60px;
}

/* Working ---------------- */
#working {
    display:none;
    text-align:center;
    font-size:120px;
    padding-top:150px;
}

/* Spinner ---------------- */
#spinner {
    display:none;
    position:relative;
    margin: 0 auto;
    width:700px;
    height:250px;
    text-align:center;
    font-size:80px;
    margin-top:180px;
    overflow:hidden;
    /*border:1px solid red;*/
}

#spinner div {
    position:absolute;
    /*border: 1px solid green;*/
    font-size:90px;
    height:250px;
    top:-250px;
    left:0px;
    width:700px;
    text-align:center;
}